[Desktop Entry]
Name=bluemoon
Exec=/usr/bin/bluemoon -- %u
Categories=Qt;AudioVideo;Player;Video;Audio;
Terminal=false
Type=Application
Icon=$HOME/.local/share/icons/scalable_bluemoon.svg


